<article class="text-white">
    <div class="flex justify-center md:justify-start">
        <section class="border-2 border-red-light m-4 p-4">
            <button class="bg-yellow-light text-black p-2 mb-2 rounded opacity-25 mx-auto block" [class.opacity-100]="messageService.errorMessages.length > 0" (click)="messageService.clear('error')">Clear log</button>

            <h1 class="text-base">Error messages</h1>
            <p class="m-2" *ngFor="let message of messageService.errorMessages">
                <time class="text-xs text-green border-b">{{ message.time }}</time>
                {{ message.body }}
            </p>
        </section>

        <section class="border-2 border-blue m-4 p-4">
            <button class="bg-yellow text-black p-2 mb-2 rounded opacity-25 mx-auto block" [class.opacity-100]="messageService.successMessages.length > 0" (click)="messageService.clear('success')">Clear log</button>

            <h1 class="text-base">Success messages</h1>
            <p class="m-2" *ngFor="let message of messageService.successMessages">
                <time class="text-xs text-green border-b">{{ message.time }}</time>
                {{ message.body }}
            </p>
        </section>
    </div>
</article>
