<article class="text-white">
    <h1 class="text-base">Message log:</h1>
    <button class="bg-green text-black p-2 m-2 ml-0 rounded opacity-25" [class.opacity-100]="messageService.messages.length > 0" (click)="messageService.clear()">Clear log</button>

    <div class="flex justify-center md:justify-start">
        <section class="border-2 border-red-light m-4 p-4">
            <h1 class="text-base">Error message log</h1>
            <p class="m-2" *ngFor="let message of messageService.errorMessages">
                <time class="text-xs text-green border-b">{{ message.time }}</time>
                {{ message.body }}
            </p>
        </section>

        <section class="border-2 border-blue m-4 p-4">
            <h1 class="text-base">Success message log</h1>
            <p class="m-2" *ngFor="let message of messageService.successMessages">
                <time class="text-xs text-green border-b">{{ message.time }}</time>
                {{ message.body }}
            </p>
        </section>
    </div>
</article>
